<footer>
    <div class="section-wrapper">
        <div class="subsection default secondary text-strong">
            Created by <a href="http://github.com/vladimirfedorov">@vladimirfedorov</a>
       </div>
    </div>
</footer>
